# SPDX-FileCopyrightText: 2006-2025 Knut Reinert & Freie Universität Berlin
# SPDX-FileCopyrightText: 2016-2025 Knut Reinert & MPI für molekulare Genetik
# SPDX-License-Identifier: CC0-1.0

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Files from testing
test/data/IBF_0.000000
test/data/IBF_0.500000
test/data/IBF_2.000000
test/data/IBF_Level_0
test/data/IBF_Level_1
test/data/IBF_Level_2
test/data/IBF_Levels.levels

# Googletest folders
googletest-build/
googletest-download/
googletest-src/
