# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Files from testing
test/data/IBF_0.000000
test/data/IBF_0.500000
test/data/IBF_2.000000
test/data/Genome_mean/
test/data/Genome_median/
test/data/mean/
test/data/median/


# Googletest folders
googletest-build/
googletest-download/
googletest-src/
